//fruits dark syntax

fruits_dark_background = #2A2A36
fruits_dark_text = #D5D5D5
fruits_dark_darkblue = #6F7C96
fruits_dark_darkpurple = #9085A5
fruits_dark_darkpink = #CF7A82
fruits_dark_red = #EB5B6A
fruits_dark_orange = #E88B3F
fruite_dark_blue = #97CEDE

//fruits light syntax

fruits_light_background = #FFFFFF
fruits_light_text = #808080
fruits_light_darkblue = #6F7C96
fruits_light_darkpurple = #9085A5
fruits_light_darkpink = #CF7A82
fruits_light_red = #EB5B6A
fruits_light_orange = #E88B3F
fruite_light_blue = #61C1DD
